<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

   <table>
      <tr>
        <td>résumé</td>
        <td><a href="{{ site.resume_url }}">pdf</a></td>
      </tr>
      <tr>
        <td>github</td>
        <td><a href="https://github.com/{{ site.github_username }}">@{{ site.github_username }}</a></td>
      </tr>
      <tr>
        <td>email</td>
        <td><a href="mailto:{{ site.email }}">{{ site.email }}</a></td>
      </tr>
      <tr>
        <td>twitter</td>
        <td><a href="https://twitter.com/{{ site.twitter_username }}">@{{ site.twitter_username }}</a></td>
      </tr>
      <tr>
        <td>instagram</td>
        <td><a href="https://instagram.com/{{ site.instagram_username }}">@{{ site.instagram_username }}</a></td>
      </tr>
    </table>

  </div>

</footer>
