---
layout: default
---

<div class="home">
  <h2>About me</h2>
  <ul>
    <li>
      I like to ride bikes and go on adventures.
    </li>
    <li>
      <strong>Computer Science</strong> student at <strong>Oregon State</strong>, avid reader.
    </li>
    <li>
      OSU <strong>Cycling Club</strong> member.
      <a href="http://www.gazettetimes.com/news/local/osu-cycling-team-honors-fallen-member/article_6b64e4aa-e3f4-5e3b-8766-f5566b030ee0.html">2017 Randall Fox Beaver Omnium</a> Race Director.
    </li>
    <li>
      Student <strong>Software Engineer</strong> at the
      <a href="http://cass.oregonstate.edu">OSU Center for Applied Systems and Software.</a>
    </li>
  </ul>

  <h2>Projects</h2>
  <ul>
    <li>
      <a href="https://github.com/classmere/api">Classmere</a>,
      a course catalog iOS/web app for OSU students
    </li>
    <li>
      <a href="https://github.com/rutgerfarry/HungryStudents">HungryStudents</a>,
      a free food app that won 2nd place at the 2014 OSU + Google Hackathon
    </li>
    <li>
      <strong>WearWare</strong>, a smart-clothing project at OSU that tracks heart rate, muscle usage, etc.
    </li>
  </ul>

  <h2>Places I've Worked</h2>
  <ul>
    <li>
      <a href="https://www.cambiahealth.com/">Cambia Health Solutions</a>,
      where I interned and expanded a web app for one of their startups <em>(summer of 2016)</em>
    </li>
    <li>
      <a href="https://www.jivesoftware.com/">Jive Software</a>,
      where I interned and built search for their
      <a href="https://itunes.apple.com/us/app/jive-x/id1019849955">iOS app</a>
      <em>(summer of 2015)</em>
    </li>
    <li>
      <a href="http://eecs.oregonstate.edu/research/vlsi/">OSU VLSI Research Group</a>,
      where I worked on smart-clothing as a research assistant and
      <a href="http://ieeexplore.ieee.org/document/7299419/">co-authored a paper</a>
      <em>(2014 – 2015 schoolyear)</em>
    </li>
  </ul>

  <h2>Thoughts</h2>
  <ul>
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span>{{ post.date | date: date_format }}</span> - 
        <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
      </li>
    {% endfor %}
  </ul>

  <h2>Resume and Social Media</h2>
    <table>
      <tr>
        <td>résumé</td>
        <td><a href="https://github.com/rutgerfarry/resume/raw/master/resume.pdf">pdf</a></td>
      </tr>
      <tr>
        <td>github</td>
        <td><a href="https://github.com/rutgerfarry">@rutgerfarry</a></td>
      </tr>
      <tr>
        <td>email</td>
        <td><a href="mailto:rutgerfarry@gmail.com">rutgerfarry@gmail.com</a></td>
      </tr>
      <tr>
        <td>twitter</td>
        <td><a href="https://twitter.com/rutgerfarry">@rutgerfarry</a></td>
      </tr>
      <tr>
        <td>instagram</td>
        <td><a href="https://instagram.com/rutgerfarry/">@rutgerfarry</a></td>
      </tr>
    </table>

</div>
